################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sattiganal
/MSBAIS_GROUP3_MVC
/MVC_Start
/ParksNearYou/.vs/ParksNearYou/DesignTimeBuild
/.vs/ParksNearYou/v16
